<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390903651280-hhmrp1hkoss5lch2n2d9bi1u55gsjv64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390903651280-hhmrp1hkoss5lch2n2d9bi1u55gsjv64</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>390903651280-i52tcq0ocjhdfkijbc6tds1d20thtssb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKzQ-pYMQ-h1DALbTr5L36pEd2W1k6SXk</string>
	<key>GCM_SENDER_ID</key>
	<string>390903651280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammettahagenc.StepCounterApp</string>
	<key>PROJECT_ID</key>
	<string>stepcounter-9540d</string>
	<key>STORAGE_BUCKET</key>
	<string>stepcounter-9540d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390903651280:ios:c2bcb142074840a9f5b7d5</string>
	<key>DATABASE_URL</key>
	<string>https://stepcounter-9540d.firebaseio.com</string>
</dict>
</plist>